// Place all the styles related to the AdvancePayments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.nav-tabs {
  border-bottom: 1px solid #ccc;
}
.nav .nav-link.active::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #007bff; /* Set the color of the indicator */
  margin-top: 3px; /* Adjust the position of the indicator */
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #007bff;
  transition: width 0.2s ease-in-out;
}

.nav-item .active {
  font-weight: bold;
}

.nav-item .active + .tab-indicator {
  width: 100%;
}

/* Table */

.table-separate {
  border-collapse:separate; 
  border-spacing: 0 1em;
}

.badge {
  line-height: 0.1;
  color:#fff
}