
<header class="header d-flex justify-content-between pt-3 pb-3 mb-3 pl-3 pr-3" id="header">
  <h3 class="page_title" >Anticipar</h3>
  <div class="tool_buttons d-flex pl-3 pr-3">
    <button type="button" class="btn-circ btn btn-light ml-2 mr-2 shadow-sm rounded-circle d-flex justify-content-center align-items-center">
      <%= image_tag "chat_ico.svg", class: "btn-circ-icon" %> 
    </button>
    <button type="button" class="btn-circ btn btn-light ml-2 mr-2 shadow-sm rounded-circle d-flex justify-content-center align-items-center">
      <%= image_tag "notification_ico.svg", class: "btn-circ-icon" %> 
    </button>
    <button type="button" class="btn-circ btn btn-light  ml-2 mr-2 shadow-sm rounded-circle d-flex justify-content-center align-items-center">
      <%= image_tag "prof_img.png", class: "btn-circ-img" %>
    </button>
  </div>
</header>